.question-card {
    max-width: 80%;
    max-height: 500px;
    background-color: var(--second-color);
    margin-left: 10%;
    padding: 2%;
    margin-top: 5%;
    box-shadow: 20px 20px 50px grey;
}

.tag {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 4px;
}

.answer-container{
    margin-bottom: 10%;
}

