/*Question-Card*/


.question-card {
    max-width: 80%;
    max-height: 500px;
    background-color: var(--second-color);
    margin-left: 10%;
    padding: 2%;
    margin-top: 5%;
    box-shadow: 20px 20px 50px grey;
}

.tag {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 4px;
}

.answer-container{
    width: inherit;
    height: 70px;
}

/*Profile-Card*/

.profile-card {
    max-width: 80%;
    max-height: 800px;
    background-color: var(--second-color);
    margin-left: 10%;
    padding: 10%;
    margin-top: 5%;
    box-shadow: 20px 20px 50px grey;
}

.self-description {
    padding: 15px;
    margin-top: 10%;
   
    border: 3px solid var(--primary-color);
    background-color: var(--second-color);
}

.counter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30%;
    margin-top: 20%;
}

.counter-tag {
    padding: 10px;
    
    border: 3px solid var(--primary-color);
}

#bookmark-profile-page {
    margin-bottom: -8px;
}

/*Question-Creator-Form-Field*/
.question-creator {
    max-width: 80%;
    max-height: 800px;
    background-color: var(--second-color);
    margin-left: 10%;
    padding: 10%;
    margin-top: 5%;
    box-shadow: 20px 20px 50px grey;
}

#question-field,
#answer-field
 {
    padding: 15px;
    margin-bottom: 20px;
   
    border: 3px solid var(--primary-color);
    background-color: var(--second-color);
}

#new-tag
 {
    padding: 15px;
    margin-bottom: 20px;
   width: ;
    border: 3px solid var(--primary-color);
    background-color: var(--second-color);
}

