* ,
*::after,
*::before
{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 390px) {
body {
    width: 100%;
    position: absolute;
}
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 5%;
    font-size: 1.5rem;
}